* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(12, 19, 28, 0.915);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
