* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.banner  {
    height: 400px;
    width: 840px;
    background-image: url('./img/385d48e99a4d905e717f2142ce66dd1b.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;
    margin-top: 2rem;

}



.header-box h1 {
    font-size: 42px;
    margin-bottom: 0.8rem;
}





