* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 100px;
  color: #333;
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}



.app {
  max-width: 750px;
  margin:  0 auto;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}


.todo {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.todo-list {
  margin-bottom: 2.5rem;
}


h1 {
  text-align: center;
  margin-bottom: 3rem;
}


h2 {
  margin-bottom: 10px;
}


p {
  margin: 10px 0;
}

input, select {
  padding: 9px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #DDD;
  width: 100%;
  outline: none;
}


input {
  box-sizing: border-box;
}


button {
  margin-right: 10px;
  padding: 12px;
  background-color: #141414e7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transform: .3s;
}


.remove {
  background-color: #d95353;
}


button:hover {
  opacity: 1;
}


.todo-form {
  padding-bottom: 1.5rem;
}