.container-form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 129, 0, 0.171);
    margin: auto;
    border-radius: 30px;
}



.form-box {

    height: 450px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-box {
    width: 60%;
}